/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'open sans', sans-serif;
  width: 100%;
  margin: 0 auto;
}

main.container {
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid #c3c3c3;
}

article {
  max-width: 50em;
  width: 100%;
  margin: 0 auto 25px auto;
}

figure {
  margin: 1em 0 1em 0;
}

h1 {
  text-align: center;
}

img, embed, object, video {
  max-width: 100%;
}

nav a, button {
  min-width: 48px;
  min-height: 48px;
}

[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

footer [class*="zocial-"]:before {
  font-size: 1.5em;
}

footer {
  text-align: center;
  margin-top: 30px;
}

footer #social {
  margin-bottom: 20px;
}
